@use '/src/library';

.new-game-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(library.$primary-transparent 50%, library.$dark-transparent), url("../../../assets/background.jpg");
  background-position: top;
  animation: background-position 50s infinite;
}

.brand {
  font-size: 4rem;
  font-family: 'Londrina Outline', cursive;
  font-weight: bold;
  color: library.$dark;
  writing-mode: vertical-lr;
  text-orientation: upright;
  animation: glowing 2s infinite;
  margin-right: 150px;
}

.new-game-form {
  width: 800px;
  align-items: center;
  background-color: library.$dark-transparent;
  padding: 50px;
  border-radius: 15px;
}

.form-control-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;

  .step {
    display: flex;
    align-items: center;
    width: 50%;
    color: library.$primary;

    .number {
      display: inline-block;
      width: 68px;
      text-align: center;
      background-color: library.$dark;
      font-size: 3rem;
      font-weight: bold;
      border: 1px solid library.$primary;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.1rem library.$primary);
    }

    .text {
      font-size: 1.5rem;
      margin-left: 25px;
    }
  }

  input[type=file], input[type=radio] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.file-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 5rem;
  color: library.$dark;
  background-image: linear-gradient(to bottom, library.$primary 50%, library.$dark 50%);
  background-size: 100% 200%;
  border-radius: 25px;
  padding: 25px;
  transition: all 1s;

  &:hover {
    color: library.$primary;
    background-position: 0 -100%;
  }
}

.file-name {
  font-size: 0.7rem;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  width: 50%;
}

.radio-button {
  position: relative;
  text-align: center;
  width: 20%;
  font-size: 1.5rem;
  color: library.$dark;
  background-image: linear-gradient(to bottom, library.$primary 50%, library.$dark 50%);
  background-size: 100% 200%;
  border-radius: 10px;
  padding: 10px;
  transition: all 1s;

  &:hover {
    color: library.$primary;
    background-position: 0 -100%;
  }
}

.selected {
  color: library.$primary;
  background-position: 0 -100%;
}

.start {
  font-size: 7rem;
  color: library.$primary;
  transition: all 1s;
  background: transparent;
  border: none;
  animation: glowing 2s infinite;

  &:hover {
    cursor: pointer;
    transform: rotateZ(180deg);
  }
}

@keyframes background-position {
  0% {
    background-position: top;
  }

  20% {
    background-position: right;
  }

  40% {
    background-position: center;
  }

  60% {
    background-position: bottom;
  }

  80% {
    background-position: left;
  }

  100% {
    background-position: top;
  }
}

@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 0.25rem library.$primary);
  }

  50% {
    filter: drop-shadow(0 0 0.4rem library.$primary);
  }

  100% {
    filter: drop-shadow(0 0 0.25rem library.$primary);
  }
}
