.board-management {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.progress-bar {
  width: calc(100% - 60px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 60px;
}

.timer {
  position: fixed;
  z-index: 1;
  top: 25px;
  right: 25px;
}

.summary {
  width: calc(100% - 60px);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
