@use '/src/library';

.jigsaw {
  position: absolute;
  left: 60px;
  cursor: grab;
}

.image {
  display: none;
  position: fixed;
  z-index: 1;
  max-width: 60%;
  max-height: 60%;
  top: 40px;
  left: 85px;
  filter: drop-shadow(0 0 1rem library.$dark);

  &::selection {
    background: transparent;
  }
}
