@use 'src/library';

@use '@angular/material' as mat;
@include mat.core();

$primary-pallete: (
  50 : #f9f0e6,
  100 : #f1d9c1,
  200 : #e7c098,
  300 : #dda66e,
  400 : #d6934f,
  500 : #cf8030,
  600 : #ca782b,
  700 : #c36d24,
  800 : #bd631e,
  900 : #b25013,
  A100 : #ffede3,
  A200 : #ffcbb0,
  A400 : #ffaa7d,
  A700 : #ff9963,
  contrast: (
    50 : #1a1c27,
    100 : #1a1c27,
    200 : #1a1c27,
    300 : #1a1c27,
    400 : #1a1c27,
    500 : #1a1c27,
    600 : #1a1c27,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #1a1c27,
    A200 : #1a1c27,
    A400 : #1a1c27,
    A700 : #1a1c27,
  )
);

$JigsawPuzzles-primary: mat.define-palette($primary-pallete);
$JigsawPuzzles-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400); //to do
$JigsawPuzzles-warn: mat.define-palette(mat.$red-palette); //to do

$JigsawPuzzles-theme: mat.define-light-theme((
  color: (
    primary: $JigsawPuzzles-primary,
    accent: $JigsawPuzzles-accent,
    warn: $JigsawPuzzles-warn,
  )
));

@include mat.all-component-themes($JigsawPuzzles-theme);

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// custom scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: library.$dark-transparent;
}
 
::-webkit-scrollbar-thumb {
  background: library.$dark;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: library.$dark-transparent;
}
